{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}RSJ aka Kato{% endblock title %}
{% block header_title %}Обо мне{% endblock header_title %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock style %}


{% block content %}
  <fieldset class="content__disclaimer open">
    <legend>Дисклеймер</legend>
      <p>Раньше это была страничка о другом человеке, но после того как человек не стал вести
        сайт - всё изменилось, и теперь каждая страничка здесь обо мне. Уахахахаха. Ибо не*уй.
        <b><i>Excusez moi pour mon français</i></b>. Изначальную страничку можно зацепить на гитхабе.</p>
      <span class="content__disclaimer_control d__closer"
            title="Скрыть дисклеймер">⌧</span>
  </fieldset>

  <span class="content__disclaimer_control d__opener"
        title="Показать дисклеймер">❔ Показать дисклеймер ❔</span>

  <div class="content__text">
    <img class="content__book" alt="book"
         src="{% static 'images/about/book.png' %}">
    <h3 class="content__text_title">Характеристика</h3>

    <div class="content__content_main">
      <p>RSJ, что бы это ни значило</p>
      <p>От 17 июня, но ДР праздную каждое 17 число.</p>
      <img class="content__content_main__university" alt="university"
           src="{% static 'images/about/university.png' %}">
    </div><br>
    <p>
        Я - junior веб-девелопер, в перспективе - the best кодер; rocket science, я иду!
      <br><br>
        В общении превалируют эмоции и энергетика. Есть идея фикс по созданию своей уникальной
        атмосферы, что будет приходить со мной и уходить со мной. Веду затворнический образ жизни,
        но всё равно люблю людей и дискуссии с ними. Живу в конференциях и соцсетях. Иногда провоцирую
        конфликтные ситуации, когда скучно - иногда они же и доставляют мне ужасный дискомфорт. Люблю
        собственное свободомыслие, к чужому отношусь терпимо, если оно не идёт в разрез с моим. Да, да,
        нарциссизм и эгоцентризм, что поделаешь. Но! Это исключительно в развлекательном общении, при
        деловом общении - всё становится с ног на голову, ибо адаптивность - моё второе отчество, а
        знак моего животного - хамелеон.
    </p><hr>
    <p>
        По складу души, я добрая, независимая от окружающей действительности и проблем, образованная
        личность. В общении с коллегами проявляю терпимость, независимо от разницы в возрасте. Пользуюсь
        авторитетом и репутацией профессионала среди знающих меня людей. Выполняю поставленные задачи,
        пройдя через трудности и обстоятельства; негативные факторы не способны повлиять на качество моей
        работы. Предпочитаю выходить из собственной зоны комфорта ради профессионального и личностного роста.
    </p>

    <div class="content__list">
      <p>Развиваю такие качества, как:</p>
      <ul>
        <li>Целеустремленность</li><li>Трудолюбие</li><li>Саморазвитие</li>
        <li>Эмоциональная устойчивость</li><li>Организованность</li><li>Да, перфекционизм имеется</li>
      </ul>

      <img class="content__content_main__pc" alt="pc"
           src="{% static 'images/about/pc.png' %}">
      <img class="content__content_main__leader" alt="leader"
           src="{% static 'images/about/leader.png' %}">
    </div><br><br><br><hr>

    <p>
        Всегда была интересна активная деятельность, связанная как с душевной сферой, так и с
        практически-полезной бытовой. Люблю путешествия и новый опыт. Фантазиям и вооброжению
        предпочитаю опыт и анализ, тем не менее, использую трансцендентные струны своей души для
        реализации себя в творчестве, а также при создании чего-то нового, даже если это новое и
        остаётся в границах "идеи". Проявляю себя как творческую, общительную, увлекающуюся,
        обучающуюся, достигающую цели личность. Всем спасибо, все свободны.
    </p>
  </div>
{% endblock content %}


{% block script_builder %}
    <script src="{% static 'scripts/about_page_builder.js' %}"></script>
{% endblock script_builder %}
