{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Dev Notes{% endblock title %}
{% block header_title %}Dev Notes{% endblock header_title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/easter.css' %}">
{% endblock style %}


{% block content %}
  {% if user.is_superuser %}
    <label for="delete_name">Имя для удаления всех статей:
      <input id="delete_name" type="text"/></label>
    <label for="delete_article_id">ID статьи:
      <input id="delete_article_id" type="text"/></label>

    <button class="restore_by_id"
            onclick="restoreArticleById('{{ scheme }}')">Восстановить по id</button>

    <button class="clear_by_id"
            onclick="deleteArticleById('{{ scheme }}')">Удалить статью по id</button>

    <button class="clear_by_name"
            onclick="clearAllByName('{{ scheme }}')">Удалить по имени</button>

    <button onclick="clearBackup('{{ scheme }}')">Очистить бэкап</button>

    {% if deleted_blogs %}
      <table>
      <tr><th>Название</th><th>Автор</th><th>Id</th></tr>
      {% for blog in deleted_blogs %}
        <tr><td>{{ blog.name }}</td><td>{{ blog.author }}</td>
          <td>{{ blog.id }}</td></tr>
      {% endfor %}
      </table>
    {% endif %}
    {% else %}
    <p>Недостаточно прав для просмотра страницы</p>
  {% endif %}
{% endblock content %}

{% block script_builder %}
  <script src="{% static 'scripts/easter_page_builder.js'%}"></script>
{% endblock script_builder %}
