{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}История{% endblock title %}
{% block header_title %}История{% endblock header_title %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/resume.css' %}">
{% endblock style %}


{% block content %}
  <div class="content__resume">
    <h2>История проекта</h2><hr>
    <h3>Зарождение:</h3>
    <ul>
      <li>Изначально проект родился как "школьный проект".</li>
      <li>Первой задумкой был обычный сайт-визитка.</li>
      <li>На волне общения с ментором, проект объеденил в себе визитку и мини-блог.</li>
      <li>После показа неким индивидом сайта в школе, а также после объявления директором той
        школы того, что это "шаблон", а не две недели моего труда - часть-визитка успешно слита
        в угоду моего личного мини-блога. Если кому интересна часть с "резюме" и "обо мне", что
        были не обо мне - добро пожаловать на гитхаб.
      </li>
      <li>В настоящее время - это мой мини-бложек. Шанс предыдущему владельцу был дан, но ресурс
        оказался ему не нужен - а что пропадать добру.</li>
      <li>
        Welcome to the мой блог! <b>AWESOME</b> блог!
      </li>
    </ul><hr>

    <h3>Жизнь проекта:</h3>
    <ul>
      <li>Начал свою жизнь в середине апреля 2018, как хедер для заглавной страницы.</li>
      <li>
        Силы были вновь направлены на проект в первой половине мая 2018, когда сайт
        стал 5-страничной визиткой, первой была написана именно статика.
      </li>
      <li>
        После двух майских недель были созданы страницы блога и началось зарождение
        ультра-узенькой (как вы любите) CMS для создания своих бложиков любым зарегистрированным
        пользователям. На это ушло немногим более недели. Вообще - узкость и ограниченность
        несколько обходится режимом Web Developer - то есть чистым CSS, доступным для внутренних
        блоков и элементов статей. Но всё равно исключены добавления DOM-элементов и скриптов.
      </li>
      <li>
        С 24 мая - это мой личный мини-бложек, который я заслуживаю.
      </li>
    </ul><hr>

    <h3>Будущее:</h3>
    <p>
      Хотелось бы, чтобы мой проектик жил - для этого никто кроме меня не может приложить
      больших усилий - а именно вести блог, ждать первых комментариев, а лучше комментировать
      свои же статьи - like a BOSS.
      <br><br>
      Особо развивать проект я не буду, но так как ближайший месяц или более я остаюсь вне нового
      проекта, а блог мне решительно нужен - я забираю его себе, повторяю в третий раз. Так что,
      если изменения и будут - то только малюсенькие и косметические - к примеру - (не факт что
      будет так) - могу сделать проект копилкой забавных анимаций - собирать их, чтобы потом использовать
      в других проектах. Кто знает.
      <br><br>
      Если кто-то хочет присоедениться к моей уютной милой компании и тоже построчить блоги в моём
      добром конструкторе - милости прошу к моему шалашу.
    </p><hr>

    <h3>Цели:</h3>
    <p>
      Для чего делался сайт - хз зачем, просто по фану. Для чего существует сайт -  чтобы у меня
      был бложик. Всё просто. Спасибо за внимание, всем мерси, все свободны. Идите читайте блог и
      комментируйте. Или не идите, но тогда вы теряете уникальную возможность со мной пообсуждать
      крутые вещи или поспорить. И да, на этой страничке живёт призрак! У-у-у-у! Но его
      всё равно никто кроме меня не заметит - он ручной.
    </p><br><br>

  </div>

  <img class="content__paint" src="
    {% if scheme != 'night' %}{% static 'images/resume/landscape.png' %}
    {% else %} {% static 'images/resume/landscape1.png' %}{% endif %}">

{% endblock content %}


{% block script_builder %}
  <script src="{% static 'scripts/resume_page_builder.js' %}"></script>
  {% if scheme == 'night' %}<script>ghost()</script>{% endif %}
{% endblock script_builder %}
