/* DOCUMENT STYLES */
body {
  overflow: hidden;
}

.header, .footer, .article__form_table, .article__form_div {
  display: none;
}

.content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* CONTENT STYLES */
/* common elements */
.header__menu_icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.header__menu {
  top: 0;
}

.select_color_scheme {
  position: absolute;
  top: 1vw;
  left: 91.25vw;
  z-index: 20;
}

.article__form_div {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 25;
}

.constructor {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: .25vw solid rgba(0, 0, 0, 0.5);
  overflow: auto;

  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.constructor__button {
  position: relative;
  padding: .75% 1% 1%;
  border-radius: 50%;
  font-size: 1.5em;
  outline: none;
  cursor: pointer;
  border: .25vh solid rgba(36, 177, 254, 0.75);
  z-index: 3;

  -webkit-transition: .75s;
  -moz-transition: .75s;
  -o-transition: .75s;
  transition: .75s;
}
.constructor__button:hover {
  box-shadow: 0 0 1px 3px rgba(14, 255, 35, 0.05),
              0 0 1px 6px rgba(14, 255, 35, 0.05),
              0 0 1px 9px rgba(14, 255, 35, 0.05),
              0 0 1px 12px rgba(14, 255, 35, 0.05),
              0 0 1px 15px rgba(14, 255, 35, 0.05);

  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.constructor__button:disabled {
  color: rgba(184, 192, 187, 0.2);
  cursor: auto;
}
.constructor__button:disabled:hover {
  transform: none;
}

/* help disclaimer */
.constructor__disclaimer {
  display: none;
  position: absolute;
  top: 21.5vh;
  left: 20vw;
  max-height: 77.5vh;
  width: 60vw;
  border: none;
  border-radius: 10px;
  background: rgba(184, 184, 193, 0.51);
  overflow-y: auto;
  z-index: 9;

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.constructor__disclaimer legend {
  text-shadow: lavender 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               lavender 0.07vh 0.07vh 0.07vh,
               darkgrey 0.3vh 0.2vh 0.2vh;
  font-style: italic;
  font-size: 2vh;
}

.constructor__arrow {
  display: inline-block;
  position: absolute;
  font-size: 2vh;
  color: blue;
  cursor: help;
}

.up_ar {
  display: block;
  position: relative;
  text-align: center;
}
.left_ar {
  top: 49%;
  left: 0;
}
.right_ar {
  top: 49%;
  right: 0;
}
.down_ar {
  display: block;
  position: relative;
  text-align: center;
}

.constructor__disclaimer_help {
  display: inline-block;
  position: relative;
  padding: 1%;
  border: 2px solid black;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.81);
  text-align: justify;
  cursor: help;
}

.constructor__disclaimer_help b {
  display: block;
  margin-bottom: 1vh;
  text-align: center;
}

.up_help, .down_help {
  left: 15%;
  width: 70%;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.left_help, .right_help {
  float: left;
  width: 40%;
  margin: .5vh 0 0 5% ;
}

.right_help {
  float: right;
  margin: .5vh 5% .5vh 0;
}

.constructor__disclaimer_closer, .editor_main_block_disclaimer_closer,
.editor_block_disclaimer_closer, .editor_element_disclaimer_closer {
  position: absolute;
  top: 1vh;
  right: 1vh;
  font-size: 4vh;
  color: red;
  cursor: pointer;
  z-index: 10;

  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}
.constructor__disclaimer_closer:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.constructor__disclaimer_opener {
  display: none;
  position: absolute;
  bottom: -4vh;
  padding: 2vh 7vh 5vh;
  border-radius: 50% 50% 0 0;
  background: rgba(0, 0, 0, 0.2);
  text-shadow: black 0.07vh 0.07vh 0.07vh, grey 0.3vh 0.2vh 0.2vh,
    0 3px 5px rgba(0, 0, 0, 0.38),
    3px 5px 5px rgba(104, 4, 42, 0.35),
    0 0 5px lavender,
    0 0 10px lavender;
  font-size: 1.5vw;
  color: white;
  cursor: pointer;
  z-index: 9;

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.constructor__disclaimer_opener:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}


/* EDITOR */
.editor {
  top: 16vh;
  bottom: 0;
  left: calc(2vw + 55px);
  right: calc(2vw + 55px);
  border-radius: 20% 20% 0 0;
  background: rgba(0, 0, 0, .05);
  z-index: 5;
}

.editor_element, .editor_block_main, .editor_block, .warning_div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20% 20% 0 0;

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.warning_div {
  text-align: center;
  line-height: 70vh;
  font-size: 3em;
  font-family: cursive;
  font-weight: bold;
  opacity: 0;

  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.warning_div.declined {
  text-shadow: rgba(170, 170, 170, 0.26) 0.02vh 0.02vh 0.02vh,
  rgba(159, 159, 159, 0.26) 0.3vh 0.2vh 0.2vh,
    0 1px 3px rgba(0, 0, 0, 0.26),
    2px 3px 5px rgba(104, 4, 42, 0.25),
    0 0 5px rgba(144, 144, 157, 0.25),
    0 0 10px rgba(236, 236, 247, 0.26);
  color: rgba(255, 7, 13, 0.11);
}

.warning_div.saved {
  text-shadow: #b5b5b5 0.02vh 0.02vh 0.02vh, #9d9d9d 0.3vh 0.2vh 0.2vh,
    0 1px 3px rgba(0, 0, 0, 0.38),
    2px 3px 5px rgba(104, 4, 42, 0.35),
    0 0 5px #90909d,
    0 0 10px #ececf7;
  color: rgba(15, 255, 22, 0.15);
}

.block_main__settings {
  position: absolute;
  top: 15%;
  left: 15%;
  height: 50%;
  width: 70%;
  font-size: 5vh;
  font-family: fantasy;
  letter-spacing: .1vh;
}

#settings__name_input, #settings__theme_selector {
  display: block;
  position: relative;
  margin-top: 5%;
  border-radius: 15px/50%;
  background: rgba(0, 0, 0, .05);
  font-size: 2.5vh;
  padding: 1vh 2vh;
  border: .15vw solid rgba(0, 0, 0, 0.5);
  font-weight: bold;
  outline: none;

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
#settings__name_input:hover, #settings__theme_selector:hover {
  background: rgba(223, 255, 239, 0.49);
  border-radius: 10px/25%;
}
#settings__name_input:focus, #settings__theme_selector:focus {
  border-color: #00a800;
  border-radius: 10px/25%;
  background: rgba(223, 255, 239, 0.49);
}

#settings__name_input {
  width: 50%;
  margin-bottom: 10%;
  font-family: cursive;
  text-align: center;
  text-shadow: black 0.07vh 0.07vh 0.07vh, grey 0.2vh 0.1vh 0.2vh,
    0 3px 5px rgba(0, 0, 0, 0.38),
    3px 5px 5px rgba(104, 4, 42, 0.35),
    0 0 5px black,
    0 0 10px lavender;
  color: lavender;
}

#settings__theme_container {
  position: relative;
}

#settings__theme_selector {
  width: 50%;
  background: linear-gradient(to bottom, rgba(177, 177, 177, .5),
              rgba(111, 111, 111, .15));
  font-family: monospace;
  font-style: normal;
  color: rgb(104, 77, 77);
  cursor: pointer;
  text-shadow: lavender 0.07vh 0.07vh 0.07vh,
               darkgrey 0.3vh 0.2vh 0.2vh,
               black 0 0 0.4vh;
}
#settings__theme_selector:hover {
  background: linear-gradient(to bottom, rgba(255, 215, 0, .8),
    rgba(111, 111, 111, .15));
  text-shadow: lavender 0.07vh 0.07vh 0.07vh, darkgrey 0.3vh 0.2vh 0.2vh;
}
#settings__theme_selector:focus {
  border: inset .15vw rgba(0, 0, 0, .5);
  border-radius: 10px 10px 0 0/25%;
  background: rgba(0, 0, 0, .1);
}
#settings__theme_selector:after {
  content: "";
  position: absolute;
  top: 2vh;
  right: 2.5vh;
  height: 0;
  width: 0;
  border: 1.5vh solid;
  border-color: #292929 transparent transparent transparent;
}
#settings__theme_selector.select-arrow-active:after {
  top: .5vh;
  border-color: transparent transparent grey transparent;
}
#settings__theme_selector.hovered_scheme {
  background: linear-gradient(to bottom, rgba(255, 215, 0, .8),
    rgba(111, 111, 111, .15));
  text-shadow: lavender 0.07vh 0.07vh 0.07vh, darkgrey 0.3vh 0.2vh 0.2vh;
}

.select-hide {
  display: block;
}

.select-items div {
  padding: 1vh 2vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-family: monospace;
  font-style: normal;
  text-shadow: black 0.07vh 0.07vh 0.07vh, grey 0.2vh 0.1vh 0.2vh,
    0 3px 5px rgba(0, 0, 0, 0.38),
    3px 5px 5px rgba(104, 4, 42, 0.35),
    0 0 5px black,
    0 0 10px lavender;
  color: lavender;
  font-size: 2.5vh;
}
.select-items div:first-child {
  border-radius: 15px 15px 0 0;
}
.select-items div:last-child {
  border-radius: 0 0 15px 15px;
}

.select-items {
  display: none;
  left: calc(25% - 2vh);
  width: calc(50% + 4vh);
  border-radius: 15px;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.editor_main_block_disclaimer, .editor_block_disclaimer,
.editor_element_disclaimer {
  display: none;
  position: absolute;
  top: 5%;
  left: 15%;
  max-height: 85%;
  width: 70%;
  border: .15vw solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgba(200, 200, 209, 0.81);
  overflow: auto;
  z-index: 77;

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.editor_main_block_disclaimer legend, .editor_block_disclaimer legend,
.editor_element_disclaimer legend {
  position: absolute;
  top: 0;
  text-shadow: lavender 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               lavender 0.07vh 0.07vh 0.07vh,
               darkgrey 0.3vh 0.2vh 0.2vh;
  font-style: italic;
  font-size: 3vh;
}

.editor_main_block_disclaimer div, .editor_block_disclaimer div,
.editor_element_disclaimer div {
  display: block;
  position: relative;
  padding: 1%;
  margin: 2% 5%;
  border: 2px solid black;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.81);
  text-align: justify;
  cursor: help;
}

.editor_main_block_disclaimer div:first-of-type,
.editor_block_disclaimer div:first-of-type,
.editor_element_disclaimer div:first-of-type {
  margin-top: 5vh;
}

.editor_main_block_disclaimer div b,
.editor_block_disclaimer div b,
.editor_element_disclaimer div b {
  display: block;
  margin-bottom: 1vh;
  text-align: center;
}

.editor_main_block_disclaimer div b i,
.editor_block_disclaimer div b i,
.editor_element_disclaimer div b i {
  font-size: larger;
}

.editor_block_main label {
  text-shadow: lavender 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               lavender 0.07vh 0.07vh 0.07vh,
               darkgrey 0.3vh 0.2vh 0.2vh;;
  color: rgba(0, 0, 0, .85);
  opacity: 0.95;
}

.create_element_block_buttons {
  position: absolute;
  top: 75%;
  width: 100%;
}

.create_element_block_buttons button {
  position: absolute;
  right: 10%;
  width: 15vh;
  height: 15vh;
  font-size: 2.5vh;
  font-family: fantasy;
  border-radius: 50%;
  font-style: italic;
  border: .2vh solid rgba(177, 177, 177, 0.5);
  box-shadow: .2vh .3vh .3vh rgba(0, 0, 0, 0.78),
    0 0 .1vh rgba(230, 230, 250, 0.57),
    0 0 .15vh rgba(230, 230, 250, 0.53),
    inset -1vh -1vh 2.5vh rgba(255, 255, 255, 0.44),
    inset 1vh 1vh 1vh rgba(0, 0, 0, .25),
    0 0 .25vh rgba(230, 230, 250, 0.47);
  outline: none;
  cursor: pointer;
  text-align: center;
  color: rgba(59, 59, 80, 0.95);
  text-shadow: lavender 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               lavender 0.07vh 0.07vh 0.07vh,
               darkgrey 0.3vh 0.2vh 0.2vh;;

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.create_element_block_buttons button:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

#editor_create_block {
  background: #ebdc50;
}

.main_create_elem {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .3);
  text-align: center;
  z-index: 50;
}


/* block editor */
#editor_block_label, #editor_block_name_change {
  display: inline-block;
  margin: 5% 0 2.5% 10%;
  padding: 0;
  font-family: fantasy;
  letter-spacing: .1em;
  font-weight: 500;
  font-size: 2.5em;
  text-shadow: #818181 0.02vh 0.02vh 0.02vh, grey 0.3vh 0.2vh 0.2vh,
    0 1px 3px rgba(0, 0, 0, 0.38),
    2px 3px 5px rgba(104, 4, 42, 0.35),
    0 0 5px #90909d,
    0 0 10px #83838e;
  color: azure;

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

#editor_block_name_change {
  position: absolute;
  left: 0;
  width: 50%;
  background: transparent;
  border: none;
}
#editor_block_name_change:hover {
  background: rgba(30, 143, 255, 0.06);
  border-radius: 15px;
}
#editor_block_name_change:focus {
  outline: 2px solid rgba(30, 143, 255, 0.15);
}

.create_element_block_buttons #editor_create_elem {
  right: 80%;
  top: 82.5%;
  width: 15vh;
  height: 15vh;
  background: rgba(174, 92, 214, 0.95);
}

.block_mover {
  position: absolute;
  bottom: 6.5%;
  right: 65%;
  width: 5%;
  min-width: 5vh;
}

.block_mover button {
  position: relative;
  font-size: 5vh;
  width: 100%;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 50;

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.block_mover .block_move_up {
  border-radius: 25px 25px 0 0;
  background: rgba(0, 236, 0, 0.25);
}
.block_mover .block_move_up:hover {
  background: rgba(0, 236, 0, 0.91);
}
.block_mover .block_move_up:disabled {
  background: rgba(222, 236, 221, 0.7);
}

.block_mover .block_move_down {
  border-radius: 0 0 25px 25px;
  background: rgba(236, 75, 94, 0.25);
}
.block_mover .block_move_down:hover {
  background: rgba(236, 75, 94, 0.91);
}
.block_mover .block_move_down:disabled {
  background: rgba(222, 236, 221, 0.7);
}

.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  height: 75%;
}

#block__list {
  position: relative;
  width: 30%;
  height: 70%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
}

#block__list li {
  padding: 1%;
  color: rgb(215, 215, 236);
  font-size: 2.5vh;
  border-radius: 10px;
  text-shadow: black 0 0 3px, #832720 0.25vh .25vh 2px;
  cursor: pointer;
}
#block__list li:hover {
  background: rgba(240, 255, 255, 0.35);
}


.elem_move_container {
  position: absolute;
  height: 120px;
  width: 40px;
  z-index: 50;
}

.elem_move_button {
  position: relative;
  width: 40px;
  height: 60px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 2px solid rgba(0, 0, 0, .4);
  font-size: 30px;
  text-align: center;
  color: black;
  outline: none;

  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

.elem_move_button:first-of-type {
  border-radius: 15px 15px 0 0;
  background: #7dcc2d;
  box-shadow: inset 0 0 15px indigo;
}

.elem_move_button:last-of-type {
  border-radius: 0 0 15px 15px;
  background: lightcoral;
  box-shadow: inset 0 0 15px indigo;
}

.elem_move_button:first-of-type:hover {
  background: greenyellow;
  box-shadow: inset 0 0 45px lavender;
}

.elem_move_button:last-of-type:hover {
  background: #e82e3d;
  box-shadow: inset 0 0 45px lavender;
}

#block__map {
  position: relative;
  width: 60%;
  border-radius: 15px;
  background: rgba(218, 175, 104, 0.1);
  overflow-y: auto;
}

#block_map_vis {
  position: absolute;
  font-size: 5vh;
  width: 65%;
  height: 20%;
  margin-top: 40%;
  margin-left: 30%;
  color: lavender;
  text-shadow: 0 0 2px black, 2px 2px 3px rebeccapurple;
  opacity: .1;
  overflow: hidden;
}

.map_inner {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

.fire_block {
  box-shadow: inset 0 0 100px rgba(255, 237, 93, 0.73);
}

#create_element_div {
  display: none;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.51);
  z-index: 150;
}
#create_element_div.open {
  display: block;
}

#create_elem_buttons {
  position: absolute;
  width: 100%;
  top: 15%;
  left: 0;
}

#create_element_div button {
  position: relative;
  padding: 1vh;
  margin-left: 5%;
  margin-top: 15%;
  width: auto;
  border: none;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(86, 175, 64, 0.6));
  box-shadow: .1vh .15vh 5px rgba(15, 50, 47, 0.66), inset 0 0 25px rgba(255, 215, 0, 0.32);
  font-size: 2vh;
  text-shadow: #818181 0.02vh 0.02vh 0.02vh, grey 0.3vh 0.2vh 0.2vh,
    0 1px 3px rgba(0, 0, 0, 0.38),
    2px 3px 5px rgba(104, 4, 42, 0.35),
    0 0 5px #90909d,
    0 0 10px #83838e;
  color: rgba(230, 230, 250, .8);
  cursor: pointer;
  outline: none;

  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

#create_element_div button:hover {
  box-shadow: .1vh .15vh 5px #3f524f, inset 0 0 25px rgba(91, 255, 80, 0.32);
  text-shadow: #628170 0.02vh 0.02vh 0.02vh, grey 0.3vh 0.2vh 0.2vh,
    0 1px 3px rgba(0, 0, 0, 0.38),
    2px 3px 5px rgba(28, 104, 42, 0.35),
    0 0 5px #90909d,
    0 0 10px #728e8d;

  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

#create_element_div button:last-of-type {
  margin-right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.76), #af2639);
}


#editor_pre {
  position: inherit;
  bottom: calc(7vh + 34%);
  left: 5%;
  height: 31%;
  width: 86%;
  padding: 2%;
  border: none;
  border-radius: 25px 25px 0 0;
  overflow-y: auto;
  outline: none;
  white-space: pre-wrap;
  background: rgba(0, 0, 0, .05);
  z-index: 2;
}

#editor_pre.pre_for_img {
  bottom: calc(7vh + 5%);
  height: 60%;
  border-radius: 25px;
}

.load-img-pre {
  display: none;
  position: absolute;
  bottom: 10%;
  width: 100%;
}
.load-img-pre.div_for_img {
  display: block;
}

#pre-image-input {
  position: absolute;
  top: 0;
  left: 15%;
  font-family: monospace;
  font-size: 2.5em;
  text-shadow: #818181 0.02vh 0.02vh 0.02vh, grey 0.3vh 0.2vh 0.2vh,
    0 1px 3px rgba(0, 0, 0, 0.38),
    2px 3px 5px rgba(104, 4, 42, 0.35),
    0 0 5px #90909d,
    0 0 10px #83838e;
  color: azure;
  border: none;
  width: 25%;
  outline: none;
  border-radius: 10px;

  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}

#pre-image-input:hover {
  background: lavender;
}

#pre-image-input:focus {
  border: 2px solid rgba(128, 0, 128, 0.31);
}

#pre-image-loader, .pre-image_button {
  position: absolute;
  top: 0;
  right: 20%;
  margin-right: 10%;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.5em;
  border: none;
  padding: 1vh;
  text-shadow: #818181 0.02vh 0.02vh 0.02vh, grey 0.3vh 0.2vh 0.2vh,
    0 1px 3px rgba(238, 238, 238, 0.38),
    2px 3px 5px rgba(104, 4, 42, 0.35),
    0 0 5px #90909d,
    0 0 10px #dfdff2;
  font-weight: bold;
  color: lavender;
  box-shadow: inset 2px 2px 15px rgba(255, 0, 0, 0.46);
  cursor: pointer;
  outline: none;

  background: linear-gradient(to right top, rgba(255, 182, 193, 0.67), rgba(135, 206, 235, 0.69));

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;

}

 .pre-image_button {
   right: 0;
   font-size: 1.15em;
  background: linear-gradient(to right top, rgba(68, 255, 92, 0.64), rgba(135, 206, 235, 0.68));
  box-shadow: inset -2px -2px 15px rgba(203, 141, 255, 0.62);
 }

#pre-image-loader:hover, .pre-image_button:hover {
  -webkit-animation: pulse 1s 1 ;
  -moz-animation: pulse 1s 1 ;
  -o-animation: pulse 1s 1 ;
  animation: pulse 1s 1 ;
}
.editor__buttoms {
  float: right;
  margin: 3.5% 15% 0 0;
  white-space: nowrap;
}

.editor .constructor__button {
  margin: 1% 10%;
  padding: 0 .5% .25%;
  border: none;
  background: transparent;
  font-size: 2em;
}
.editor .constructor__button:hover {
  transform: none;
}

.editor .constructor__button.block_button {
  position: relative;
  margin: 0 0 0 1%;
}

.block_button.edit_label, .element_button.edit_label {
  display: none;
  color: dodgerblue;
}
.block_button.edit_label:hover, .element_button.edit_label:hover {
  background: rgba(102, 161, 255, 0.15);
  box-shadow: 0 0 1px 2px rgba(102, 161, 255, 0.03),
              0 0 1px 4px rgba(102, 161, 255, 0.03),
              0 0 1px 6px rgba(102, 161, 255, 0.03),
              0 0 1px 8px rgba(102, 161, 255, 0.03),
              0 0 1px 10px rgba(102, 161, 255, 0.03);
}

.block_button.edit_label.open, .element_button.edit_label.open {
  position: absolute;
  display: inline-block;
  left: 60%;
  top: 7.5%;
}

.element_button.edit_label.open {
  left: 56%;
  top: 3%;
}

.editor .constructor__button.block_button.delete_block,
.editor .constructor__button.element_button.delete_elem {
  display: none;
  color: red;
  padding: 0 1% 0;
  margin-left: 2%;
  margin-right: -10%;
  margin-bottom: 2%;
  margin-top: 3%;
  border: none;
  border-radius: 15px;
  background: rgba(253, 113, 144, 0.22);
  font-size: 4vh;
  white-space: nowrap;
}
.editor .constructor__button.block_button.delete_block:hover,
.editor .constructor__button.element_button.delete_elem:hover {
  box-shadow: 0 0 1px 3px rgba(254, 123, 173, 0.06),
    0 0 1px 6px rgba(254, 123, 173, 0.05),
    0 0 1px 9px rgba(254, 123, 173, 0.05),
    0 0 1px 12px rgba(254, 123, 173, 0.05),
    0 0 1px 15px rgba(254, 123, 173, 0.05);
}

.editor .constructor__button.block_button.delete_block.open,
.editor .constructor__button.element_button.delete_elem.open {
  display: inline-block;
}

.delete_block_conformation, .delete_element_conformation {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .75);
  z-index: 100;
}

.delete_block_conformation.open, .delete_element_conformation.open {
  display: block;
}

.delete_block_conformation button, .delete_element_conformation button {
  position: absolute;
  top: 40%;
}

.delete_block_conformation button:first-of-type,
.delete_element_conformation button:first-of-type {
  left: 25%;
  background: linear-gradient(to left bottom, rgba(175, 9, 35, 0.59), #8b091b);
  color: #fcfcfc;
  text-shadow: 0 0 3px lavender;
}

.delete_block_conformation button:last-of-type,
.delete_element_conformation button:last-of-type {
  right: 25%;
  background: linear-gradient(to left bottom, rgba(100, 175, 148, 0.59), #208b55);
  color: #fcfcfc;
  text-shadow: 0 0 3px lavender;
}



.accept-elem {
  color: green;
}
.accept-elem:hover {
  background: rgba(104, 255, 108, 0.15);
  box-shadow: 0 0 1px 2px rgba(104, 255, 108, 0.03),
              0 0 1px 4px rgba(104, 255, 108, 0.03),
              0 0 1px 6px rgba(104, 255, 108, 0.03),
              0 0 1px 8px rgba(104, 255, 108, 0.03),
              0 0 1px 10px rgba(104, 255, 108, 0.03);
}

.editor .constructor__button.info-elem {
  transform: scale(1.3);
  color: yellow;
  text-shadow: 0 0 1px black;
}
.editor .constructor__button.info-elem:hover {
  background: rgba(253, 255, 177, 0.15);
  box-shadow: 0 0 1px 1px rgba(253, 255, 177, 0.03),
              0 0 1px 2px rgba(253, 255, 177, 0.03),
              0 0 1px 3px rgba(253, 255, 177, 0.03),
              0 0 1px 4px rgba(253, 255, 177, 0.03),
              0 0 1px 5px rgba(253, 255, 177, 0.03);
}

.decline-elem {
  color: red;
}
.decline-elem:hover {
  background: rgba(255, 143, 175, 0.15);
  box-shadow: 0 0 1px 2px rgba(255, 143, 175, 0.03),
              0 0 1px 4px rgba(255, 143, 175, 0.03),
              0 0 1px 6px rgba(255, 143, 175, 0.03),
              0 0 1px 8px rgba(255, 143, 175, 0.03),
              0 0 1px 10px rgba(255, 143, 175, 0.03);
}

label[for='editor_content'], #editor_element_name_change {
  float: left;
  margin: 3% 5% 0 15%;
  font-family: fantasy;
  letter-spacing: .1em;
  font-weight: 500;
  font-size: 2.5em;
  text-shadow: #818181 0.02vh 0.02vh 0.02vh, grey 0.3vh 0.2vh 0.2vh,
    0 1px 3px rgba(0, 0, 0, 0.38),
    2px 3px 5px rgba(104, 4, 42, 0.35),
    0 0 5px #90909d,
    0 0 10px #83838e;
  color: azure;
}

#editor_element_name_change {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  background: transparent;
  border: none;
}
#editor_element_name_change:hover {
  background: rgba(30, 143, 255, 0.06);
  border-radius: 15px;
}
#editor_element_name_change:focus {
  outline: 2px solid rgba(30, 143, 255, 0.15);
}

.get_upwards:hover {
  box-shadow: 0 0 1px 2px rgba(230, 230, 250, 0.05),
              0 0 1px 4px rgba(230, 230, 250, 0.05),
              0 0 1px 6px rgba(230, 230, 250, 0.05),
              0 0 1px 8px rgba(230, 230, 250, 0.05),
              0 0 1px 10px rgba(230, 230, 250, 0.05);
}

#editor_content {
  position: absolute;
  bottom: 7vh;
  left: 5%;
  height: 34%;
  min-height: 34%;
  max-height: 60%;
  width: calc(90% - 20px);
  min-width: calc(90% - 20px);
  max-width: calc(90% - 20px);
  padding: 10px;
  border: none;
  border-radius: 15px 15px 25px 25px;
  font-family: monospace;
  font-size: 2vh;
  overflow: auto;
  outline: none;
  z-index: 3;
}
#editor_content:hover {
    background: #fff5e7;
}
#editor_content:focus {
    box-shadow: 0 0 1px 3px rgba(161, 211, 255, 0.65);
}

.editor_bord {
  box-shadow: 0 0 1px 3px rgba(0, 255, 0, 0.1),
              0 0 1px 6px rgba(0, 255, 0, 0.075),
              0 0 1px 9px rgba(0, 255, 0, 0.05);
  border-color: rgba(0, 151, 0, 0.55);
}
#editor_content.editor_for_header {
  height: 15%;
  min-height: 15%;
  max-height: 30%;
  bottom: calc(7vh + 20%);
  box-shadow: inset 0 0 1px 5px rgba(152, 155, 255, 0.09),
    inset 0 0 1px 70px rgba(255, 167, 183, 0.1);
}
#editor_content.editor_for_header:hover {
    background: #faf8f9;
}
#editor_content.editor_for_header:focus {
    box-shadow: 0 0 1px 3px rgba(161, 211, 255, 0.65);
}
.editor_for_img {
  display: none;
}

#logo {
  position: absolute;
  left: calc(50% - 64px);
  bottom: 16px;
  opacity: .2;
  z-index: 100;
}


/* VIEW */
.view {
  top: -70vh;
  height: 85vh;
  width: 80vw;
  margin-left: 10vw;
  border-radius: 0 0 20% 20%;
  background: radial-gradient(circle closest-corner at 30vw 20vh ,
    #FAECD5, lightcyan) fixed;
  overflow: hidden;
  z-index: 7;
}
.view:hover {
  top: -35vh;
}

.view__fix {
  top: -35vh;
}
.view__globe:hover {
  top: -.5vh;
}
.view__globe.view__fix {
  top: -.5vh;
}

.view.view__fix {
  box-shadow: 0 0 1px 3px rgba(0, 255, 0, 0.1),
              0 0 1px 6px rgba(0, 255, 0, 0.075),
              0 0 1px 9px rgba(0, 255, 0, 0.05);
  border: .25vw solid rgba(0, 96, 0, .3);
}

.content__painting {
  position: absolute;
  bottom: -14vh;
  left: -6vw;
  width: 70vw;

  -webkit-transform: scale(.88);
  -ms-transform: scale(.88);
  transform: scale(.88);
}

.view_inner {
  height: 71vh;
  margin: .5vh .4vw 2.5vh .9vw;
  padding: 0 0;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
}

.view:not(.view__globe) .view_inner {
  overflow-y: hidden;
}

.bord_bottom {
  border-bottom: .15vw solid rgba(0, 0, 0, .1);
}

.blog__article {
  margin: 33vh 0 0 -4.85vw;

  -webkit-transform: scale(.88);
  -ms-transform: scale(.88);
  transform: scale(.88);
}

.art_add {
  margin-top: -.5vh;
}

.view .fix_button {
  left: 7.5vw;
  border: .25vh solid rgba(100, 255, 58, 0.75);
}

.fix_on {
  box-shadow: 0 0 1px 3px rgba(0, 255, 0, 0.1),
              0 0 1px 6px rgba(0, 255, 0, 0.075),
              0 0 1px 9px rgba(0, 255, 0, 0.05);
  border: .25vh solid rgba(0, 96, 0, .3);
  background: linear-gradient(to left bottom, rgba(0, 196, 0, .9), rgba(0, 128, 0, .8));
  opacity: 1;
}
.fix_on:hover {
  box-shadow: 0 0 1px 3px rgba(128, 0, 0, 0.03),
              0 0 1px 6px rgba(128, 0, 0, 0.03),
              0 0 1px 9px rgba(128, 0, 0, 0.03),
              0 0 1px 12px rgba(128, 0, 0, 0.03),
              0 0 1px 15px rgba(128, 0, 0, 0.03);
}

.view_button {
  display: inline-block;
  left: 9vw;
  border: .25vh solid rgba(36, 177, 254, 0.75);
}
.view_button:hover {
  box-shadow: 0 0 1px 3px rgba(36, 177, 254, 0.05),
              0 0 1px 6px rgba(36, 177, 254, 0.05),
              0 0 1px 9px rgba(36, 177, 254, 0.05),
              0 0 1px 12px rgba(36, 177, 254, 0.05),
              0 0 1px 15px rgba(36, 177, 254, 0.05);
}

.view_vis {
  display: none;
}

.constructor__button.publish {
  display: none;
  position: relative;
  float: right;
  right: 7.5vw;
  border: .25vh solid rgba(255, 221, 81, 0.75);
}
.constructor__button.publish:hover {
  box-shadow: 0 0 1px 3px rgba(254, 187, 20, 0.05),
              0 0 1px 6px rgba(254, 187, 20, 0.05),
              0 0 1px 9px rgba(254, 187, 20, 0.05),
              0 0 1px 12px rgba(254, 187, 20, 0.05),
              0 0 1px 15px rgba(254, 187, 20, 0.05);
}
.constructor__button.publish:disabled {
  box-shadow: none;
  border-color: rgba(168, 180, 174, 0.87);
}

.publish__button {
  float: right;
  position: relative;
  right: 7.5vw;
  margin-top: .75%;
  padding: 0;
  border-radius: 50%;
  border: none;
  background: transparent;
  text-shadow: 3px 4px 3px black;
  font-family: fantasy;
  letter-spacing: .3vw;
  font-size: 1.5em;
  color: rgba(255, 252, 3, 0.87);
  cursor: pointer;
  outline: none;
  z-index: 3;

  -webkit-transition: box-shadow .33s cubic-bezier(.2, 0, .7, 1);
  -moz-transition: box-shadow .33s cubic-bezier(.2, 0, .7, 1);
  -o-transition: box-shadow .33s cubic-bezier(.2, 0, .7, 1);
  transition: box-shadow .33s cubic-bezier(.2, 0, .7, 1);
}
.publish__button:hover{
  box-shadow: 0 0 1px 15px rgba(255, 219, 21, 0.05),
              0 0 1px 30px rgba(255, 219, 21, 0.05),
              0 0 1px 45px rgba(255, 219, 21, 0.05);
}
.publish__button:disabled {
  box-shadow: none;
  color: rgba(156, 157, 154, 0.67);
  opacity: .7;
  cursor: auto;
}

/* reserved buttonx */
.reserved__buttons {
  position: absolute;
  padding: 1vh 1.5vh;
  border-radius: 50%;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.32);
  font-size: 2vh;
  outline: none;
  box-shadow: rgba(128, 128, 128, 0.6) 0.07vh 0.07vh 0.07vh,
    black 0.05vh 0.1vh .5vh, inset 0.1vh 0.1vh 10px rgba(0, 0, 0, .4);

  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}
.reserved__buttons:hover {
  transform: scale(1.05);
  box-shadow: rgba(128, 128, 128, 0.6) 0.07vh 0.07vh 0.07vh,
  #d3d3d3 0.05vh 0.1vh .5vh, inset 0.1vh 0.1vh 15px rgba(214, 206, 66, 0.58);
}

.article__form_cancel {
  bottom: 10%;
  right: 35%;
  background: linear-gradient(to left bottom, rgba(175, 9, 35, 0.59), #8b091b);
  color: #fcfcfc;
  text-shadow: 0 0 3px lavender;
}

.article__form_submit {
  bottom: 10%;
  left: 35%;
  background: linear-gradient(to left bottom, rgba(100, 175, 148, 0.59), #208b55);
  color: #fcfcfc;
  text-shadow: 0 0 3px lavender;
}


/* DRAGGABLE */
.draggable {
  top: 35vh;
  left: calc(-23vw - 150px);
  height: 60vh;
  width: calc(25vw + 200px);
  border: .25vw solid rgba(0, 0, 0, 0.51);
  border-radius: 0 20% 20% 0;
  background: rgba(179, 235, 184, 0.24) linear-gradient(to right,
  rgb(145, 228, 95), rgba(179, 235, 184, 0.4));
  padding-left: 2vw;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 6;
}
.draggable:hover {
  left: -1vw;
}

.elem_logo {
  position: absolute;
  text-shadow: #818181 0.07vh 0.07vh 0.07vh, grey 0.3vh 0.2vh 0.2vh,
    0 3px 5px rgba(0, 0, 0, 0.38),
    3px 5px 5px rgba(104, 4, 42, 0.35),
    0 0 5px #90909d,
    0 0 10px #83838e;
  font-size: 3vh;
  font-style: italic;
  color: lavender;

  transform-origin: left;
  -webkit-transform-origin: left;
}

.draggable .elem_logo {
  top: 60%;
  left: calc(23vw + 175px);

  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.draggable_properties {
  position: absolute;
  top: 15%;
  left: 5%;
  height: 70%;
  max-height: 70%;
  width: 75%;
  font-size: 2vh;
  color: azure;
  text-shadow: #818181 0.03vh 0.03vh 0.03vh, grey 0.15vh 0.1vh 0.1vh,
    0 2px 3px rgba(0, 0, 0, 0.38),
    1px 3px 3px rgba(104, 4, 42, 0.35),
    0 0 3px #90909d,
    0 0 5px #83838e;
  overflow-y: auto;
  overflow-x: hidden;
}

.draggable_properties.block_main, .draggable_properties.block_single,
.draggable_properties.elem_single {
  display: none;
}

.draggable_properties.block_main.open, .draggable_properties.block_single.open,
.draggable_properties.elem_single.open {
  display: block;
}

.settings_main {
  width: 100%;
  padding: 1.5vh 1vh;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.draggable_properties input[type='color'] {
  position: absolute;
  right: 12px;
  padding: .25vh;
  background: rgba(230, 230, 210, .5);
  border-radius: 10px/50%;
  cursor: pointer;
  outline: none;
}
.draggable_properties input[type='color']:hover {
  background: rgba(209, 209, 189, 0.5);
}

.draggable_properties select {
  position: absolute;
  right: 12px;
  padding: .25vh;
  width: 50%;
  border-radius: 10px 10px 0 0 / 50%;
  background: rgba(230, 230, 210, .5);
  font-family: monospace;
  font-size: 2vh;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
.draggable_properties select:hover {
  background: rgba(209, 209, 189, 0.5);
}

.draggable_properties select option {
  background-color: rgba(172, 223, 187, 0.95);
  font-size: 2vh;
  cursor: pointer;
  outline: none;
}

#bcs_ff_s {
  font-family: sans-serif;
}

.draggable_properties button {
  position: absolute;
  right: 12px;
  padding: .5vh 1vh;
  border-radius: 10px/50%;
  border-color: rgba(0, 0, 0, 0.52);
  background: rgba(58, 133, 51, 0.5);
  font-size: 2vh;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.52);
  cursor: pointer;
  outline: none;
}
.draggable_properties button:hover {
  background: rgba(209, 209, 189, 0.5);
}

.background_picker_m {
}

.background_picker_m, #picker_m_c, #picker_m_g1, #picker_m_g2,
#picker_m_gs1, #picker_m_gs2, #picker_m_img, #picker_m_img1,
#picker_m_img2, #picker_m_img3, #picker_bs_c, #picker_bs_g1,
#picker_bs_g2,#picker_bs_gs1, #picker_bs_gs2, #picker_bs_img,
#picker_bs_img1, #picker_bs_img2, #picker_bs_img3,
#picker_m_opa, #picker_bs_opa, #picker_es_c, #picker_es_g1,
#picker_es_g2,#picker_es_gs1, #picker_es_gs2, #picker_es_img,
#picker_es_img1, #picker_es_img2, #picker_es_img3,
#picker_es_opa {
  display: none;
}
#picker_m_c.open, #picker_m_g1.open, #picker_m_g2.open,
#picker_m_img.open, #picker_m_gs1.open, #picker_m_gs2.open,
#picker_m_img1.open, #picker_m_img2.open, #picker_m_img3.open,
#picker_bs_c.open, #picker_bs_g1.open, #picker_bs_g2.open,
#picker_bs_img.open, #picker_bs_gs1.open, #picker_bs_gs2.open,
#picker_bs_img1.open, #picker_bs_img2.open, #picker_bs_img3.open,
#picker_m_opa.open, #picker_bs_opa.open, #picker_es_opa.open,
#picker_es_c.open, #picker_es_g1.open, #picker_es_g2.open,
#picker_es_img.open, #picker_es_gs1.open, #picker_es_gs2.open,
#picker_es_img1.open, #picker_es_img2.open, #picker_es_img3.open {
  display: inline-block;
}

#picker_m_opa, #picker_bs_opa, #picker_es_opa {
  position: absolute;
  left: 0;
  top: 88%;
}
#picker_m_opa option, #picker_bs_opa option, #picker_es_opa option {
  background: lavender;
  font-weight: bold;
}

#picker_m_opa option:nth-of-type(2), #picker_bs_opa option:nth-of-type(2),
#picker_es_opa option:nth-of-type(2) {
  color: rgba(0, 0, 0, .9);
}

#picker_m_opa option:nth-of-type(3), #picker_bs_opa option:nth-of-type(3),
#picker_es_opa option:nth-of-type(3) {
  color: rgba(0, 0, 0, .75);
}

#picker_m_opa option:nth-of-type(4), #picker_bs_opa option:nth-of-type(4),
#picker_es_opa option:nth-of-type(4) {
  color: rgba(0, 0, 0, .6);
}

#picker_m_opa option:nth-of-type(5), #picker_bs_opa option:nth-of-type(5),
#picker_es_opa option:nth-of-type(5) {
  color: rgba(0, 0, 0, .45);
}

#picker_m_opa option:nth-of-type(6), #picker_bs_opa option:nth-of-type(6),
#picker_es_opa option:nth-of-type(6) {
  color: rgba(0, 0, 0, .3);
}

#picker_m_opa option:last-of-type, #picker_bs_opa option:last-of-type,
#picker_es_opa option:last-of-type {
  color: rgba(0, 0, 0, .15);
}

#picker_bs_opa {
  top: 139.5%;
}

#picker_m_c, #picker_bs_c, #picker_es_c {
  position: absolute;
  left: 0;
  margin-top: 1.5vh;
  margin-left: 1vh;
}
#picker_m_c:after, #picker_bs_c:after, #picker_es_c:after {
  content: 'Выберите цвет';
  position: absolute;
  text-align: center;
  top: 0;
  left: calc(100% + 1vh);
  color: #0f322f;
}

#picker_m_g1, #picker_m_g2, #picker_bs_g1, #picker_bs_g2,
#picker_es_g1, #picker_es_g2 {
  position: relative;
  left: 5%;
  margin-top: 1.5vh;
  margin-right: 2vh;
}
#picker_es_g1 {
 margin-left: -50%;
}
#picker_es_g2 {
 margin-left: 0%;
}

#picker_m_g1:after, #picker_m_g2:after,
#picker_bs_g1:after, #picker_bs_g2:after,
#picker_es_g1:after, #picker_es_g2:after {
  content: 'Выберите цвет 1';
  position: absolute;
  text-align: center;
  top: 110%;
  left: -15%;
  color: #0f322f;
}
#picker_m_g2:after, #picker_bs_g2:after, #picker_es_g2:after {
  content: 'Выберите цвет 2';
}

#picker_m_gs1, #picker_m_gs2, #picker_bs_gs1, #picker_bs_gs2,
#picker_es_gs1, #picker_es_gs2 {
  position: absolute;
  top: 98%;
  margin-bottom: 2%;
}
#picker_m_gs1, #picker_bs_gs1, #picker_es_gs1 {
  left: 0;
}
#picker_m_gs2, #picker_bs_gs2, #picker_es_gs2 {
  left: 50%;
}
#picker_bs_gs1, #picker_bs_gs2 {
  top: 150%;
}
#picker_es_gs1, #picker_es_gs2 {
 top: 270%;
}

#bcs_bg_s, #bs_bg, #es_bg {
  margin: 1vh 0;
}

#picker_m_img, #picker_bs_img, #picker_es_img {
  position: absolute;
  left: 0;
  margin-top: 15%;
  border-radius: 10px;
  background-color: rgba(235, 236, 234, 0.81);
  border-color: rgba(0, 0, 0, 0.39);
  outline: none;
  padding: .5vh;
}
#picker_m_img:hover, #picker_bs_img:hover, #picker_es_img:hover {
  border-color: rgba(135, 27, 87, 0.39);
}
#picker_m_img:focus, #picker_bs_img:focus, #picker_es_img:focus {
  border-color: rgba(135, 27, 87, 0.39);
}

#picker_m_img1, #picker_m_img2, #picker_bs_img1, #picker_bs_img2,
#picker_es_img1, #picker_es_img2 {
  position: absolute;
  margin-top: 1vh;
  cursor: pointer;

  -webkit-transition: .25s;
  -moz-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
}
#picker_m_img1:hover, #picker_m_img2:hover,
#picker_bs_img1:hover, #picker_bs_img2:hover,
#picker_es_img1:hover, #picker_es_img2:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

#picker_m_img1, #picker_bs_img1, #picker_es_img1 {
  left: 5%;
  margin-right: 10%;
  padding: 5px;
  background: linear-gradient(to left bottom, rgba(33, 168, 64, 0.39),
  #c5ec36);
  text-decoration: none;
  color: lavender;
  border: 2px solid rgba(30, 135, 111, 0.39);
  border-radius: 10px;
}

#picker_m_img2, #picker_bs_img2, #picker_es_img2 {
  position: absolute;
  left: 37%;
}

.picker_m_img2_disclaimer, .picker_bs_img2_disclaimer,
.picker_es_img2_disclaimer {
  display: none;
  position: absolute;
  text-align: center;
  top: 0;
  left: 5%;
  right: 5%;
  max-height: 80%;
  padding: 10% 5% 5%;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, .5);
  background: rgba(144, 220, 186, 0.95);
  overflow-y: auto;
  color: rgb(220, 220, 220);
  z-index: 10;
}
.picker_m_img2_disclaimer.open, .picker_bs_img2_disclaimer.open,
.picker_es_img2_disclaimer.open {
  display: block;
}

.picker_m_img2_disclaimer div, .picker_bs_img2_disclaimer div,
.picker_es_img2_disclaimer div {
  display: block;
  position: relative;
  padding: 2%;
  margin: 5% 5%;
  border: 2px solid black;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.81);
  text-align: justify;
  cursor: help;
  font-family: monospace;
  font-style: normal;
  text-shadow: none;
  font-size: 1.5vh;
  color: black;
}

.picker_bs_img2_disclaimer {
  top: 20%;
  max-height: 100%;
}

.picker_es_img2_disclaimer {
  top: 40%;
  max-height: 170%;
}

#picker_m_img2_closer, #picker_bs_img2_closer, #picker_es_img2_closer {
  position: absolute;
  top: 2%;
  right: 2%;
  color: red;
  font-size: 3vh;
  cursor: pointer;
}

#picker_m_img3, #picker_bs_img3, #picker_es_img3 {
  position: absolute;
  left: 15%;
  top: 95%;
  white-space: nowrap;
}
#picker_bs_img3 {
  margin-top: 43%;
}
#picker_es_img3 {
  margin-top: 136%;
}

.background_picker_m button{
  position: absolute;
  top: 80%;
  left: 60%;
  right: 5%;
  background: rgba(133, 111, 102, 0.5);
}
.background_picker_m button:hover {
  background: rgba(236, 226, 58, 0.5);
}
.background_picker_m button.help_classb {
  top: 132%;
}
.background_picker_m button.help_classel {
  position: relative;
  margin-top: 3vh;
  margin-left: -5%;
}

#picker_es_opa {
  position: relative;
  top: 8vh;
  margin-bottom: 1vh;
  left: 0;
}

.drag_elem_name {
  text-align: center;
  margin: 2vh 0 1.5vh -20%;
  text-shadow: #818181 0.07vh 0.07vh 0.07vh, grey 0.3vh 0.2vh 0.2vh,
    0 3px 5px rgba(0, 0, 0, 0.38),
    3px 5px 5px rgba(104, 4, 42, 0.35),
    0 0 5px #90909d,
    0 0 10px #83838e;
  font-size: calc(1.5vh + 1.5vw);
  color: rgba(243, 255, 234, 0.81);
}

.draggable .fix_button {
  position: absolute;
  bottom: 3%;
  left: 12%;
}

.drag_fix {
  left: -1vw;
}

.draggable.drag_fix {
  box-shadow: 0 0 1px 3px rgba(0, 255, 0, 0.1),
              0 0 1px 6px rgba(0, 255, 0, 0.075),
              0 0 1px 9px rgba(0, 255, 0, 0.05);
  border: .25vw solid rgba(0, 96, 0, .3);
}

/* MENU */
.menu {
  top: 35vh;
  right: calc(-23vw - 150px);
  height: 60vh;
  width: calc(25vw + 200px);
  border-radius: 20% 0 0 20%;
  background: rgba(37, 112, 174, 0.17) linear-gradient(to right,
  rgba(37, 112, 174, 0.17), rgba(119, 171, 235, 0.95));
  z-index: 6;
}
.menu:hover {
  right: -1vw;
}

.menu .elem_logo {
  top: 28%;
  left: calc(1vw + 25px);
  white-space: nowrap;

  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.elem_tree_container {
  position: absolute;
  top: 8%;
  left: 20%;
  height: 77%;
  width: 70%;
  overflow-x: hidden;
  overflow-y: auto;
}

.helper_tree {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: rgba(194, 194, 214, 0.51);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 50;
}
.helper_tree.open {
  display: block;
}

.helper_tree p {
  margin: 5% 5%;
  padding: 5%;
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.51);
  background: rgba(230, 230, 250, 0.91);
  text-align: justify;
  font-size: 125%;
}

.li_anim_1, .li_anim_2, .li_anim_3, .li_anim_4, .li_anim_5,
.li_anim_6, .li_anim_7, .li_anim_8{
  display: inline-block;
  cursor: pointer;
  font-size: 135%;
  padding: 1vh;
  margin-bottom: .5vh;
  background: powderblue;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  color: bisque;
  text-shadow: 0 0 2px black;
}

.li_anim_1.active_animation {
  animation: balance 1s 2;
  color: #b235ff;
}

.li_anim_2.active_animation {
  animation: blob 1s 2;
  color: #4bf2ff;
}

.li_anim_3.active_animation {
  animation: falling 2s 2;
  color: #4eff78;
}

.li_anim_4.active_animation {
  animation: pulse 1s 2;
  color: #f7ff61;
}

.li_anim_5.active_animation {
  animation: rotate 2s 2;
  color: #ff4932;
}

.li_anim_6.active_animation {
  animation: scaleon 1s 2;
  color: #ffa726;
}

.li_anim_7.active_animation {
  animation: shrinkjump 1s 2;
  color: #59ffb8;
}

.li_anim_8.active_animation {
  animation: toplong 4s 1;
  color: #2c36ff;
}

#elem__tree li span {
  font-family: cursive;
  font-style: italic;
  color: azure;
  cursor: pointer;
  text-shadow: black 0 0 3px, #832720 0.25vh .25vh 2px;
}

.menu .fix_button {
  position: absolute;
  bottom: 3%;
  right: 12%;
  border: .25vh solid rgba(100, 255, 58, 0.75);
}

.menu .settings_button {
  position: absolute;
  bottom: 3%;
  right: calc(10px + 25%);
  border: .25vh solid rgba(215, 255, 253, 0.75);
}

.settings_button:hover {
  box-shadow: 0 0 1px 3px rgba(230, 230, 250, 0.05),
    0 0 1px 6px rgba(230, 230, 250, 0.05),
    0 0 1px 9px rgba(230, 230, 250, 0.05),
    0 0 1px 12px rgba(230, 230, 250, 0.05),
    0 0 1px 15px rgba(230, 230, 250, 0.05);
}

.menu .help_button {
  position: absolute;
  bottom: 3%;
  right: calc(20px + 38%);
  border: .25vh solid rgba(224, 38, 255, 0.75);
}
.help_button:hover {
  box-shadow: 0 0 1px 3px rgba(237, 89, 254, 0.05),
    0 0 1px 6px rgba(237, 89, 254, 0.05),
    0 0 1px 9px rgba(237, 89, 254, 0.05),
    0 0 1px 12px rgba(237, 89, 254, 0.05),
    0 0 1px 15px rgba(237, 89, 254, 0.05);
}

.help_button.pushed_help {
  background: rgba(224, 38, 255, 0.5);
  border: .25vh solid rgba(224, 38, 255, 0.2);
}

.menu_fix {
  right: -1vw;
}

.menu.menu_fix {
  box-shadow: 0 0 1px 3px rgba(0, 255, 0, 0.1),
              0 0 1px 6px rgba(0, 255, 0, 0.075),
              0 0 1px 9px rgba(0, 255, 0, 0.05);
}


/* NIGHT SCHEME */
.red_scheme_body .view {
  background: radial-gradient(circle closest-corner at 70vw 65vh,
    rgba(106, 5, 24, 0.62), rgba(8, 1, 5, 0.89)) fixed;
}

.red_scheme_body .constructor__disclaimer {
  background: rgba(230, 230, 250, 0.6);
}

.red_scheme_body .constructor__disclaimer legend {
  text-shadow: black 0.07vh 0.07vh 0.07vh, grey 0.3vh 0.2vh 0.2vh,
    0 3px 5px rgba(0, 0, 0, 0.38),
    3px 5px 5px rgba(104, 4, 42, 0.35),
    0 0 5px lavender,
    0 0 10px lavender;
  color: white;
}

.red_scheme_body .constructor__disclaimer_opener {
  background: rgba(255, 255, 255, 0.21);
}

.red_scheme_body .editor {
  background: rgba(255, 255, 255, .05);
}

.red_scheme_body .create_element_block_buttons button {
  text-shadow: black 0.07vh 0.07vh 0.07vh, grey 0.2vh 0.1vh 0.2vh,
    0 3px 5px rgba(0, 0, 0, 0.38),
    3px 5px 5px rgba(104, 4, 42, 0.35),
    0 0 5px black,
    0 0 10px lavender;
  color: rgba(205, 205, 223, 0.95);
  box-shadow: .2vh .3vh .3vh rgba(0, 0, 0, 0.78),
    inset -1vh -1vh 2.5vh rgba(255, 255, 255, 0.44),
    inset 1vh 1vh 1vh rgba(0, 0, 0, .25);
}

.red_scheme_body #editor_create_elem {
  border-color: rgba(0, 0, 0, 0.09);
  background: #5f005f;
}

.red_scheme_body #editor_create_block {
  border: none;
  background: rgba(214, 188, 55, 0.83);
}

.red_scheme_body #block__list li {
  color: rgba(138, 138, 154, 0.56);
}

.red_scheme_body #settings__theme_selector {
  color: lavender;
  text-shadow: black 0.07vh 0.07vh 0.07vh, grey 0.2vh 0.1vh 0.2vh,
    0 3px 5px rgba(0, 0, 0, 0.38),
    3px 5px 5px rgba(104, 4, 42, 0.35),
    0 0 5px black,
    0 0 10px lavender;
}

.red_scheme_body #editor_content {
  background: linear-gradient(rgb(233, 229, 227), rgba(255, 226, 219, 0.86));
}
.red_scheme_body #editor_content:focus {
    box-shadow: 0 0 1px 2px #ce0a09;
}

.red_scheme_body .draggable {
  background: rgba(13, 24, 13, 0.24) linear-gradient(to right,
  rgb(102, 145, 86), rgba(13, 24, 13, 0.24));
}

.red_scheme_body .menu {
  background: rgba(40, 74, 133, 0.17) linear-gradient(to right,
  rgba(40, 74, 133, 0.17), rgba(109, 157, 218, 0.95));
}


/* ACTIVE STYLES */
.help_anim {
  -webkit-animation: helpanim 1s infinite ;
  -moz-animation: helpanim 1s infinite ;
  -o-animation: helpanim 1s infinite ;
  animation: helpanim 1s infinite ;
}

.help_anim_1 {
  -webkit-animation: helpanim 1s ;
  -moz-animation: helpanim 1s ;
  -o-animation: helpanim 1s ;
  animation: helpanim 1s;
}

.open {
  display: block;
}

.draggable_properties.elem_single.img_closed .settings_main:nth-of-type(7),
.draggable_properties.elem_single.img_closed .settings_main:nth-of-type(8),
.draggable_properties.elem_single.img_closed .settings_main:nth-of-type(9),
.draggable_properties.elem_single.img_closed .settings_main:nth-of-type(10),
.draggable_properties.elem_single.img_closed .settings_main:nth-of-type(11),
.draggable_properties.elem_single.img_closed .settings_main:nth-of-type(12),
.draggable_properties.elem_single.img_closed .settings_main:nth-of-type(13),
.draggable_properties.elem_single.img_closed .settings_main:nth-of-type(14) {
  display: none;
}

.web_developer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  z-index: 1000;
}
.web_developer.on_develop {
  display: block;
}

#web_developer_text {
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 80%;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  height: 60%;
  max-height: 70%;
  min-height: 30%;
  max-width: 80%;
  min-width: 80%;
  background: linear-gradient(to right top, lavender, rgba(255, 234, 160, 0.87));
  outline: none;
  font-size: 2.5vh;
  color: blue;
  text-shadow: 1px 1px 3px black, 2px 2px 3px red;
}
#web_developer_text:focus {
  background: linear-gradient(to right top, #d9dbfa, rgba(255, 236, 144, 0.87));
}

#web_developer_submit {
  position: absolute;
  bottom: 5%;
  left: 40%;
  width: 20%;
  padding: 1vh;
  border: 2px solid black;
  background: linear-gradient(black, lightslategray);
  font-size: 2vh;
  color: rgba(230, 230, 250, .8);
  cursor: pointer;
  outline: none;
}

.constructor__button.web_developer_on {
  position: absolute;
  right: -6%;
  bottom: 5%;
  background: rgba(135, 139, 255, 0.56);
  color: white;
  z-index: 50;
}
.constructor__button.web_developer_on:hover {
  box-shadow: 0 0 1px 3px rgba(5, 144, 255, 0.05),
  0 0 1px 6px rgba(5, 144, 255, 0.05),
  0 0 1px 9px rgba(5, 144, 255, 0.05),
  0 0 1px 12px rgba(5, 144, 255, 0.05),
  0 0 1px 15px rgba(5, 144, 255, 0.05);
}

/* ANIMATION STYLES */
@keyframes helpanim {
	50% {
    transform: scale(1.05);
    box-shadow: inset 0 0 1000px rgba(255, 235, 230, 0.52);
  }
	100% {
    transform: scale(1);
    box-shadow: none;
  }
}


/* ADAPTIVE STYLES */
@media screen and (max-width: 1150px) {
  #picker_m_img2 {
    top: 90%;
    left: 55%;
  }

  #picker_m_img {
    position: absolute;
    top: 73%;
    left: 0;
    width: 50%;
  }

  #picker_bs_img {
    top: 120%;
    width: 50%;
  }

  #picker_es_img {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .editor__buttoms {
    margin-right: 25%;
  }
  #picker_m_img2 {
    right: -10%;
  }
  #picker_m_img {
    position: absolute;
    top: 75%;
    left: 0;
    width: 40%;
  }

  #picker_bs_img {
    top: 120%;
  }

  #picker_es_img {
    width: 40%;
  }

  #bcs_bg_s {
    position: absolute;
    left: calc(50% - 12px);
    top: 66%;
  }

  #picker_m_img3 {
    left: 0;
  }
}

@media screen and (max-width: 615px) {
  .header__menu_icon {
    top: 10vh;
    transform: scale(.9);
  }

  .select_color_scheme {
    top: calc(5vw + 11.5vh);
    transform: rotate(90deg) scale(1.05);
  }

  label[for='editor_content'] {
    display: block;
    float: none;
    margin: 3% 5% 0 15%;
    text-align: center;
    letter-spacing: .1em;
    font-size: 2.5em;
  }

  #settings__theme_selector:after {
    right: 1.5vh;
    border: 1vh solid;
    border-color: #292929 transparent transparent transparent;
  }

  #picker_bs_img {
    top: 125%;
  }
}

@media screen and (max-width: 500px) {
  .publish__button {
    display: none;
  }

  .constructor__button.publish {
    display: inline-block;
  }

  .editor__buttoms {
    margin-right: 40%;
  }

  #settings__theme_selector:after {
    border-color: transparent;
  }

  #settings__theme_selector.select-arrow-active:after {
    border-color: transparent;
  }

  .create_element_block_buttons button {
    width: 10vh;
    height: 10vh;
    font-size: 2vh;
  }

  label[for='editor_content'] {
    font-size: 1.5em;
  }
  #picker_m_img2 {
    right: -25%;
  }
}


@media screen and (max-width: 360px) {
  .create_element_block_buttons button {
    width: 7.5vh;
    height: 7.5vh;
    font-size: 1.5vh;
  }
}
