/* DOCUMENT STYLES */
body {
  background: grey url("../images/main/background.aeaff4d3c46a.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
}


/* HEADER STYLES */
.header {
  border-bottom: 2px solid black;
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0.9),
              rgba(255, 255, 255, 0.3));
}

.menu_h {
  background: rgba(12, 12, 12, 0.81);
}

.header__title {
  font-style: italic;
  color: rgba(0, 0, 0, .85);
  opacity: 0.8;
}

.header__switcher {
  background: linear-gradient(to right top, lightgray, darkgrey);
}


/* CONTENT STYLES */
.content {
  overflow-y: auto;
}

/* images blocks */
.main__images_block {
  position: relative;
  margin-top: 1.5vw;
}

.img__block {
  display: inline-block;
  position: relative;
  height: 18.5vw;
  width: 27.5vw;
  margin: 1.5vw -4vw 2.5vw 5.3vw;
  border: .2vw solid rgba(0, 0, 0, .35);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;

  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.img__block:hover {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

/* images galery animation */
.main__image {
  position: absolute;
  opacity: 0;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.back_img {
  top: 0;
  left: -.1vw;
  height: 18.5vw;
  width: 27.7vw;

  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

/* images z-indexes */
#image_000 {
  opacity: 1;
  z-index: 10;
}
#image_120, #image_220, #image_330 {
  z-index: 11;
}
#image_130, #image_230, #image_332 {
  z-index: 12;
}
#image_110, #image_210, #image_310, #image_331 {
  z-index: 13;
}
#image_111, #image_112, #image_113, #image_211,
#image_212, #image_213, #image_320, #image_333 {
  z-index: 14;
}

/* inner images coords & sizes & animation */
#image_111 {
  top: 8.5vw;
  left: 18.5vw;
  height: 5vw;
  width: 5vw;
}
#image_112 {
  top: 9vw;
  left: 2.5vw;
  height: 5vw;
  width: 5.5vw;
}
#image_113 {
  top: 11.3vw;
  left: 9.5vw;
  width: 8.5vw;
}
#image_211 {
  bottom: 0;
  left: 0;
  width: 13.7vw;

  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
#image_212 {
  top: .5vw;
  right: 1.5vw;
  width: 8vw;

  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}
#image_213 {
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
#image_331 {
  top: 3vw;
  left: 11vw;
  width: 5.7vw;
}
#image_332 {
  top: 1vw;
  left: 4vw;
  height: 9.8vw;
  width: 19.5vw;
}
#image_333 {
  top: 1vw;
  left: 4vw;
  height: 9.8vw;
  width: 19.5vw;

  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* last article */
.blog__article {
  height: auto;
  min-height: 20vh;
  max-height: 33vh;
  margin: 0 0 0 5vw;
  border-radius: 10px;
  background: rgba(255, 255, 255, .3);
  background-clip: padding-box;
}
.blog__article:last-child {
  margin-bottom: 100px;
}

.blog__article legend {
  background: rgba(0, 0, 0, .9);
}

.blog__article legend:hover {
  text-shadow: 10vw 6vh 2px rgba(0, 0, 0, .5),
               calc(10vw + 1px) calc(6vh + 1px) 1px rgba(0, 0, 0, .2);
}


/* FOOTER STYLES */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid black;
  background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5),
              rgba(177, 177, 177, 0.5));
  z-index: 2;
}

.footer__logo {
  padding: calc(.3vw + 4px) calc(1vw + 8px);
}

.footer__logo_me {
  padding-top: 1vw;
}

.footer__link {
  margin-top: calc(.3vw + 4px);
}


/* NIGHT SCHEME */
.red_scheme_body .header {
  border-bottom: .33vh solid rgba(134, 34, 34, 0.44);
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.1),
    rgba(178, 34, 34, 0.2));
}

.red_scheme_body .menu_h {
  background: #979797;
}

.red_scheme_body .img__block {
  border: .2vw solid rgba(134, 34, 34, 0.44);
}

.red_scheme_body .footer {
  border-top: .33vh solid rgba(134, 34, 34, 0.44);
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0.1),
    rgba(178, 34, 34, 0.33));
}

.red_scheme_body .footer__link:before {
  text-shadow: lavender 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               lavender 0.07vh 0.07vh 0.07vh,
               darkgrey 0.3vh 0.2vh 0.2vh;;
  color: black;
}


/* ACTIVE STYLES */
.hide_blog {
  display: none;
}
