/* DOCUMENT STYLES */
body {
  overflow: hidden;
}

.red_scheme_body {
  background: grey url('../images/main/background.jpg') no-repeat center center fixed;
  background-size: 100% 100%;
}


/* HEADER STYLES */
 body:not(.red_scheme_body) .header {
  background: linear-gradient(to left bottom,
  rgba(24, 49, 35, 0.37), rgba(40, 237, 103, 0.09));
}

body:not(.red_scheme_body) .menu_h {
  background: #cad9d9;
}


 body:not(.red_scheme_body) .header__title {
  text-shadow: black 0.07vh 0.07vh 0.07vh, grey 0.3vh 0.2vh 0.2vh;
  color: azure;
}

/* CONTENT STYLES */
.registration__form {
  margin: 3vh 0 0 25vw;
  text-align: left;
}

label {
  font-size: 2.5vw;
  opacity: 0.8;
  color: rgba(0, 0, 0, .85);
  text-shadow: lavender 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               lavender 0.07vh 0.07vh 0.07vh,
               darkgrey 0.3vh 0.2vh 0.2vh;;
}

input:not([type='submit']) {
  width: 17vw;
  color: lavender;
  padding: .15vw .5vw;
  font-size: 1.5vw;
  border-radius: 50px;
  margin-left: 5.5vw;
  background: rgba(0, 0, 0, .2);
  border: none;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

input:not([type='submit']):hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  border: 2px solid rgba(230, 230, 250, 0.7);
}

input:not([type='submit']):focus {
  outline: none;
  border: 2px solid rgba(24, 138, 9, 0.7);
  background: rgba(0, 0, 0, .5);
}

input[type="submit"] {
  position: fixed;
  bottom: 19vh;
  left: 33vw;
  font-size: 2.5vw;
  font-family: fantasy;
  letter-spacing: .3vw;
  padding: 1.5vh 3vw;
  color: rgba(230, 230, 250, .9);
  border-bottom: 2px solid black;
  background: linear-gradient(to left bottom, rgba(24, 49, 35, 0.9),
  rgba(40, 237, 103, 0.2));
  border-radius: 15px 25% 15px 15px;
  text-shadow: 3px 4px 3px black;
  cursor: pointer;
}

.helper {
  border: none;
  -webkit-transition: box-shadow .33s cubic-bezier(.2, 0, .7, 1);
  -moz-transition: box-shadow .33s cubic-bezier(.2, 0, .7, 1);
  -o-transition: box-shadow .33s cubic-bezier(.2, 0, .7, 1);
  transition: box-shadow .33s cubic-bezier(.2, 0, .7, 1);
  -webkit-animation: scaleon 1s linear infinite;
  -moz-animation: scaleon 1s linear infinite;
  -o-animation: scaleon 1s linear infinite;
  animation: scaleon 1s linear infinite;
}
.helper:hover{
  box-shadow: 0 0 1px 15px rgba(14, 255, 35, 0.05),
              0 0 1px 30px rgba(14, 255, 35, 0.05),
              0 0 1px 45px rgba(14, 255, 35, 0.05);
}

/* crazy letters */
.curious_span {
  position: absolute;
  display: inline-block;
  font-size: 1.5vh;

  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.standart_let {
  text-align: center;
  padding: .5vw;
  background: radial-gradient(ellipse, rgba(1, 32, 9, 0.6), transparent);
  border-radius: 50px;
  font-size: 1.1vw;
  font-family: cursive;
  color: azure;
  font-weight: bold;
  opacity: .4;
  text-shadow: black 0.07vh 0.07vh 0.07vh, grey 0.3vh 0.2vh 0.2vh,
    0 3px 2px rgba(0, 0, 0, 0.38),
    3px 5px 5px rgba(104, 4, 42, 0.35),
    0 0 1px black;
}

.curious_span span {
  display: inline-block;
  opacity: .0;
  letter-spacing: calc(.4vw + 4px);
  animation: infinite;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.curious_span span.active {
  opacity: 1;
}


/* FOOTER STYLES */
 body:not(.red_scheme_body) .footer {
  background: linear-gradient(to left bottom,
  rgba(24, 49, 35, 0.64), rgba(40, 237, 103, 0.09));
}


/* NIGHT SCHEME */
.red_scheme_body .header__menu_icon {
  opacity: .6;
}

.red_scheme_body .header__title {
  font-style: italic;
  color: rgba(0, 0, 0, .85);
  text-shadow: lavender 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               lavender 0.07vh 0.07vh 0.07vh,
               darkgrey 0.3vh 0.2vh 0.2vh;;
}

.red_scheme_body input:not([type='submit']):focus {
  border: 2px solid rgba(138, 59, 88, 0.7);
}

.red_scheme_body input[type="submit"] {
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0.9),
              rgba(237, 28, 91, 0.2));
  color: rgba(0, 0, 0, .85);
  text-shadow: lavender 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               darkgrey 0 0 0.1vh,
               lavender 0.07vh 0.07vh 0.07vh,
               darkgrey 0.3vh 0.2vh 0.2vh;;
}
.red_scheme_body .helper:hover{
  box-shadow: 0 0 1px 15px rgba(138, 59, 88, 0.15),
              0 0 1px 30px rgba(138, 59, 88, 0.1),
              0 0 1px 45px rgba(138, 59, 88, 0.1);
}

.red_scheme_body .standart_let {
  background: radial-gradient(ellipse, rgba(32, 2, 17, 0.6), transparent);

}


/* ACTIVE STYLES */


/* ANIMATION STYLES */
@keyframes scaleon {

	50% { transform: scale(1.02); }
	100% { transform: scale(1);	}

}
